<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Reportes</nb-card-header>
      <nb-card-body>
        <div class="form-inline">
          <div class="input-group full-width">
            <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
            <input #fechaBuscar type="date" [(ngModel)]="fechaInicio" class="form-control full-width"  >
          </div>
          <div class="input-group full-width">
            <div class="input-group-addon"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
            <input #fechaBuscar type="date" [(ngModel)]="fechaFinal" class="form-control full-width" [min]="fechaInicio" >
          </div>
          <button type="button" class="btn btn-primary" (click)="buscar(fechaBuscar.value)">Buscar</button>
          <button type="button" class="btn btn-info" (click)="allRrint()">Imprimir</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<nb-card>
  <nb-card-header>Lista de reportes</nb-card-header>
  <nb-card-body></nb-card-body>
</nb-card>
